# Questions 1
#List and its default functions.

lst = ["vara",23 ,5.5, 45,"cute"]
lst.append("unique")
lst

In [3]:
lst.pop(4)

'cute'

In [4]:
lst.index("vara")

0

In [32]:
lst.remove(23)
lst

['vara', 5.5, 45, 'cute', 'unique']

In [33]:
lst.extend([2.33,45])
lst

['vara', 5.5, 45, 'cute', 'unique', 2.33, 45]

In [34]:
lst = ["vara",23 ,5.5 ,45 ,"cute"]
lst.insert(1,"bae")
lst

['vara', 'bae', 23, 5.5, 45, 'cute']

In [35]:
lst = ["vara",23 ,5.5 ,45 ,"cute"]
lst1 = lst.copy()
lst1

['vara', 23, 5.5, 45, 'cute']

In [36]:
lst = ["vara",23 ,5.5 ,45 ,"cute"]
lst.count(5.5)

1

In [37]:
lst.reverse()
lst

['cute', 45, 5.5, 23, 'vara']

In [44]:
lst = [2, 70, 10, 9]
lst.sort()
lst

[2, 9, 10, 70]

In [45]:
lst.clear()
lst

[]

# Questions 2
#Dictionary and its default functions.

In [47]:
dit = {"vara" : 70, "hari" : 80}
dit

{'vara': 70, 'hari': 80}

In [48]:
dit1 = dit.copy()
dit1

{'vara': 70, 'hari': 80}

In [49]:
dit.pop("vara")

70

In [53]:
dit = {"vara" : 70, "hari" : 80}
dit.items()

dict_items([('vara', 70), ('hari', 80)])

In [54]:
dit.get("vara")

70

In [65]:
dit = {"vara" : 70, "hari" : 80, "su" : 90}
dit.popitem()

('su', 90)

In [67]:
dit = {"vara" : 70, "hari" : 80, "su" : 90}
dit.keys()

dict_keys(['vara', 'hari', 'su'])

In [71]:
dit = {"vara" : 70, "hari" : 80, "su" : 90}
dit.values()

dict_values([70, 80, 90])

In [72]:
dit.update(dit1)
dit1

{'vara': 70, 'hari': 80}

In [77]:
dit.setdefault(100)
dit

{'vara': 70, 'hari': 80, 'su': 90, 100: None}

In [78]:
dit.clear()
dit

{}

# #Questions 3
#Sets and its default functions.

In [83]:
st = {"vara", 18, 34, 23, 14, "vara", "hari", "a", "a"}
st

{14, 18, 23, 34, 'a', 'hari', 'vara'}

In [84]:
st.add("sucha")
st

{14, 18, 23, 34, 'a', 'hari', 'sucha', 'vara'}

In [86]:
st1 = st.copy()
st1

{14, 18, 23, 34, 'a', 'hari', 'sucha', 'vara'}

In [87]:
st2 = {14, 23}
st2.issubset(st)

True

In [88]:
st.isdisjoint(st2)

False

In [89]:
st.issuperset(st2)

True

In [96]:
st = {"vara", 18, 34, 23, 14, "vara", "hari", "a", "a"}
st.union()

{14, 18, 23, 34, 'a', 'hari', 'vara'}

In [100]:
st.clear()
st

set()

# Questions 4
Tuple and explore default methods

In [101]:
tup = ("vara", 18, 23)
tup

('vara', 18, 23)

In [102]:
tup.count(18)

1

In [103]:
tup.index("vara")

0

# Questions 5
Strings and explore default methods.

In [104]:
str="let's get started"
str.upper()

"LET'S GET STARTED"

In [107]:
str.capitalize()

"Let's get started"

In [117]:
str="let's get started"
str.lower()

"let's get started"

In [118]:
str="let's get started"
str.title()

"Let'S Get Started"

In [120]:
str="leT's gEt staRted"
str.swapcase()

"LEt'S GeT STArTED"

In [125]:
str="let's get started"
str.endswith("guys")

False

In [126]:
str="let's get started"
str.endswith("started")

True

In [127]:
str.islower()

True